[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
click = "*"
adafruit-circuitpython-dht = {version = "*", markers = "'arm' in platform_machine"}

[dev-packages]
ipykernel = "*"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.9"
